aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.1.0
charset-normalizer==3.2.0
click==8.1.7
cmake==3.27.2
colorama==0.4.6
dlib @ file:///C:/Users/Dell/Desktop/Dlib-main/dlib-19.22.99-cp37-cp37m-win_amd64.whl#sha256=bf28f39a48d812870193e3bf2c44cacc92a7d2b94a17a7a1eb8d0ef3f3d02988
Flask==2.2.5
frozenlist==1.3.3
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.7.0
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
more-itertools==9.1.0
morse-code==0.0.2
morse3==2.9
multidict==6.0.4
numpy==1.21.6
opencv-contrib-python==4.0.0.21
opencv-python==4.5.1.48
packaging==23.1
pandas==1.1.5
Pillow==9.5.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
telepot==12.7
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.2.3
yarl==1.8.2
zipp==0.6.0
