aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.1.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
Flask==2.2.5
frozenlist==1.3.3
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.7.0
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
morse-code==0.0.2
morse3==2.9
multidict==6.0.4
numpy==1.21.6
opencv-python==4.8.0.76
packaging==23.1
Pillow==9.5.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
telepot==12.7
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug==2.2.3
yarl==1.9.2
zipp==3.15.0
